
[user]
    name = Matan Appelbaum
    email = appelbaum.matan@gmail.com
[credential]
    helper = store
[alias]
    alias = !git config -l | grep alias | cut -c 7-
    pretty = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    graph = !git pretty --graph
    out = !git graph @{u}..
    in = !git fetch && git graph ..@{u}
    st = status
    gr = grep -Ii
    ls = ls-files
[push]
	default = simple
